body {
    margin: 0;
    font-family: 'montserrat';
}

.block {
    width: 100%;
    height: fit-content;
    background: url(back.jpg) 50% 50%/cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px 0;
    width: 97%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0 0 5px silver;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.block__img {
    margin-top: 10%;
    width: 20%;
    transition: 0.3s;
}
.block__img:hover{
    transform: translateY(-40px);
    box-shadow: 0 0 20px rgb(75, 75, 75);
}

.block__title {
    transition: 1s;
    width: 30%;
    text-align: center;
    margin: 0;
}

.block__title h1 {
    padding: 30px 0;
    transition: .3s;
    margin: 0;
    font-size: 250%;
}

.block__title h1:hover {
    background-color: white;
    box-shadow: 0 0 5px silver;

}

.block__title::after,
.block__title::before {
    content: '';
    height: 5px;
    width: 5px;
    background-color: white;
    display: block;
    margin: 25px 25px;
    box-shadow: 0 0 5px rgb(155, 155, 155);
    opacity: 1;
    animation-name: line;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes line {
    0% {
        width: 10px;
    }

    50% {
        width: 110px;
    }

    100% {
        width: 10px;
        margin-left: 95%;
    }

}


.block__info{
    width: 60%;
    text-align: justify;
    font-size: 150%;
    padding: 15px;
    transition: .3s;
    line-height: 1.5;
    margin: 20px;
}
.block__info:hover {
    background-color: rgba(255, 255, 255, 0.815);
    box-shadow: 0 0 5px rgb(139, 139, 139);
}